{% extends 'Shop home/shopindx.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/request_sent_shop">
  <table border="1" class="table table-bordered">
    <tr>
      <td>Quantity</td>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><label>
        <input type="submit" name="Submit" value="Send" class="btn btn-success"/>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}