<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="foshop_view_distri2rm1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="shop_view_distri">View distributor</a></td>
    </tr>
    <tr>}
     <td><a href="shop_view_distri1">Check product</a></td>#}
   </tr>
{#   <tr> #}
{#      <td><a href="">Send request to product</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="shop_view_req">View request status</a></td>
    </tr>
    <tr>
      <td><a href="shop_add_bill">Add and manage bill</a></td>
    </tr>
    <tr>
      <td><a href="shop_view_feed">View feedback and rating</a></td>
    </tr>
    <tr>
      <td><a href="/">Logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
