{% extends 'Admin/adminindex.html' %}
{% block body %}

<body>
<form action="/edit_product" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1" class="table table-bordered">
    <tr>
      <td>ProductName</td>
      <td><label>
        <input type="text" name="textfield" value="{{ val.product_name }}" required  pattern="[A-Za-z ]{2,50}"/>
      </label></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><label>
        <input type="file" name="file" value="{{ val.image }}" /><img src="/media/{{ val.image }}" width="100px" height="100px" alt=""/>
      </label></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><label>
        <input type="text" name="textfield2" value="{{ val.price }}" required />
      </label></td>
    </tr>
    <tr>
      <td>Stock</td>
      <td><label>
        <input type="text" name="textfield3" value="{{ val1.stock }}"  required />
      </label></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><label>
        <input type="text" name="textfield4" value="{{ val.category }}"  required />
      </label></td>
    </tr>
    <tr>
      <td>Manufacture Date</td>
      <td><label>
        <input type="date" name="datefield" value="{{ val.manufacture_date }}"  required />
      </label></td>
    </tr>
    <tr>
      <td>Expiry Date</td>
      <td><label>
        <input type="date" name="datefield2" value="{{ val.expiry_date }}"  required />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Edit" />
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
