{% extends 'Admin/adminindex.html' %}
{% block body %}
<body>
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Shop Approvals</h6>
        <a href="{% url 'admin_home' %}" class="btn btn-primary btn-sm">
          <i class="fas fa-home"></i> Dashboard
        </a>
      </div>
      <div class="card-body">
        <form id="form1" name="form1" method="post" action="search_shop">
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="input-group">
                <select name="select" class="form-control">
                  <option value="">All Shops</option>
                  <option>MyG</option>
                  <option>Eplanet</option>
                  <option>Zudio</option>
                </select>
                <div class="input-group-append">
                  <button type="submit" name="Submit" class="btn btn-info">
                    <i class="fas fa-search"></i> Search
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <thead class="thead-light">
                <tr>
                  <th>Shop Name</th>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Owner Details</th>
                  <th>Status/Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in val %}
                <tr>
                  <td>{{ i.shop_name }}</td>
                  <td>{{ i.address }}</td>
                  <td>{{ i.phone }}</td>
                  <td>{{ i.email }}</td>
                  <td>{{ i.owner_details }}</td>
                  <td class="text-center">
                    {% if i.LOGIN.type == "pending" %}
                      <div class="btn-group-vertical">
                        <a href="accept_shop/{{ i.LOGIN.id }}" class="btn btn-success btn-sm mb-1">
                          <i class="fas fa-check"></i> Accept
                        </a>
                        <a href="reject_shop/{{ i.LOGIN.id }}" class="btn btn-danger btn-sm">
                          <i class="fas fa-times"></i> Reject
                        </a>
                      </div>
                    {% elif i.LOGIN.type == "shop" %}
                      <p>Accepted</p>
                    {% elif i.LOGIN.type == "Rejected" %}
                      <p>Rejected</p>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>
</body>
{% endblock %}