{% extends 'Admin/adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="search_complnt">
  <table width="200" border="1" class="table table-bordered">
    <tr>
      <td colspan="4">Date 
        <label>
        <select name="select">
             <option>2023-02-01</option>
            <option>2023-09-11</option>
            <option>2023-09-23</option>
            <option>2023-05-08</option>
            <option>2024-01-04</option>
        </select>
        <input type="submit" name="Submit" value="Search" class="btn btn-info"/>
      </label></td>
    </tr>
    <tr>
      <td>Username</td>
      <td>Complaint</td>
      <td>Reply</td>
    </tr>
      {% for i in val %}
    <tr>
      <td>{{ i.USER.fname }}{{ i.USER.lname }}&nbsp;</td>
      <td>&nbsp;{{ i.complaint }}</td>
      <td>{% if i.reply == 'pending' %}<a href="send_reply/{{ i.id }}"  class="btn btn-link">Reply</a>{% else %}{{ i.reply }}{% endif %}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
