{% extends 'Distributor home/disindex.html' %}
{% block body %}
<body>
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Product Catalog</h6>
        <a href="\dist_home" class="btn btn-primary btn-sm">
          <i class="fas fa-home"></i> Go to Home
        </a>
      </div>

      <div class="card-body">
        <form id="form1" name="form1" method="post" action="dist_view_prdt_search#about">
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="input-group">
                <select name="select" class="form-control">
                  <option value="">All Categories</option>
                  <option value="Tablets" {% if search == "Tablets" %}selected{% endif %}>Tablets</option>
                  <option value="Syrups" {% if search == "Syrups" %}selected{% endif %}>Syrups</option>
                  <option value="Ointments" {% if search == "Ointments" %}selected{% endif %}>Ointments</option>
                  <option value="Injections" {% if search == "Injections" %}selected{% endif %}>Injections</option>
                  <option value="Solutions" {% if search == "Solutions" %}selected{% endif %}>Solutions</option>
                </select>
                <div class="input-group-append">
                  <button type="submit" name="Submit" class="btn btn-info">Search</button>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <thead class="thead-dark">
                <tr>
                  <th>Product Name</th>
                  <th>Image</th>
                  <th>Price</th>
                  <th>Stock</th>
                  <th>Action</th>
                </tr>


              </thead>
              <tbody>
                {% for i in val %}
                <tr>
                  <td>{{ i.PRODUCT.product_name }}</td>
                  <td><img src="{{ i.PRODUCT.image.url }}" class="img-thumbnail" style="max-height: 100px; max-width: 100px;"></td>
                  <td>₹{{ i.PRODUCT.price }}</td>
                  <td>{{ i.stock }}</td>
                  <td>
                    <a href="dist_view_prdt2/{{ i.id }}" class="btn btn-primary btn-sm btn-block">
                      <i class="fas fa-paper-plane"></i> Send Request
                    </a>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>
</body>
{% endblock %}