{% extends 'Distributor home/disindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="view_rating_distr_search">
   <table width="200" border="1" class="table table-bordered">
    <tr>
     <td colspan="5">Category
        <label>
        <select name="select">
             <option {% if search == "Cloth" %} selected {% endif %}>Cloth</option>
            <option {% if search == "Footware" %} selected {% endif %}>Footware</option>
            <option {% if search == "Watches" %} selected {% endif %}>Watches</option>
            <option {% if search == "Electronics" %} selected {% endif %}>Electronics</option>
            <option {% if search == "Mobiles" %} selected {% endif %}>Mobiles</option>
        </select>
        <input type="submit" name="Submit" value="Search" class="btn btn-info"/>
      </label></td>
    </tr>

    <tr>
      <td>Feedback</td>
      <td>Username</td>
      <td>Rating</td>
      <td>Date</td>
    </tr>

       {% for i in val %}
    <tr>
      <td>{{ i.feedback }}&nbsp;</td>
      <td>{{ i.USER.fname }}{{ i.USER.lname }}&nbsp;</td>
      <td>{{ i.rating }}&nbsp;</td>
      <td>&nbsp;{{ i.date }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}

